h3{
    text-align: center;
}
[class ^="col-"]{
    border: 5px solid rgb(29, 29, 29);
}
textarea{
    width: 500px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
b {
   font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 2px solid white;
    margin-left: 48%;
    padding: 5px;
}
.important{
    color: red;
 }
 button{
    text-align: right;
    height: fit-content;
 }
 footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
 }